body, .tooltip, .popover,
.main-header .logo {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, kbd, pre, samp {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

